body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

#container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.carousel {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.carousel-content {
    display: none;
    /* Hide all children by default */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 200px;
}

.carousel-content.active {
    display: flex;
    /* Show active slide */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-button:hover {
    background-color: #444;
}

@media (max-width: 600px) {
    #container {
        width: 95%;
    }
}